<div style="height:85%; ">
    <ul class="list-group" style="width: 85%; padding-top:20px">        
            {{> "./message.hbs"}}
    </ul>
</div>
<div class="row">
    <div class="col-10">
 <textarea style="height: 100%; width: 100%" rows="4" placeholder="Сообщение" id="chatMessage"></textarea>
 </div><div  class="col" >
 <button class="btn btn-primary" style="height: 100%; width:100px; " id="sendChatMessage">Отправить</button>
 </div>
</div>