<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="https://yandex.st/bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet">

    <title>{{htmlWebpackPlugin.options.title}}</title>
</head>
<body>

<b>client</b>

</body>
</html>
