<div>
    <div  id="userLogoImg"><img id="userLogoImgElm" src="{{user.logo}}" style="width: 64px; height: 64px;"/>&nbsp;&nbsp;&nbsp;<label id="userName">{{user.name}}&nbsp;&nbsp;[{{user.nick}}]</label></div>
</div>