<li class="list-group-item" >
    <table style="width: 100%; height 100%;">
        <tr>
            <td rowspan="2" style="width: 40px;"><img src="data:image/gif;base64,{{message.b64logo}}"></td>
            <td>{{message.date}}</td>
        </tr>
        <tr> 
            {{message.text}}
        </tr>
    </table>
</li>