<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">


    <title>{{htmlWebpackPlugin.options.title}}</title>
</head>
<body>
<b>server address:</b><input id="address" type="text" value="localhost"></input><br><br>
<b>server port:</b><input id="port" type="text" /><br><br>
<button id="startSrv">Start server</button>
</body>
</html>
