<div>
    <span style="font-size: 12px;  color: #808080;">{{userDataComment.Name}}</span>
        <span style="font-size: 12px;  color: #808080;"> {{userDataComment.place}}</span>
        <span style="font-size: 11px;  color: #808080;">{{userDataComment.date}}</span>
	<div style="max-width: 339px;  min-height: 27px;  font-size: 12px;  color: rgb(79,79,79);  line-height: 1;  word-break: break-all;">{{userDataComment.comment}}</div>
</div>