<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <script src="https://api-maps.yandex.ru/2.1/?apikey=c42cec27-29c3-4483-b9c5-bbd4e57c62c2&lang=ru_RU" type="text/javascript">
    </script>
    <title>{{htmlWebpackPlugin.options.title}}</title>
</head>
<body>
<div id="yandex-container">
    {{> "./yandex-container.hbs"}}
</div>
</body>
</html>
